<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.com.healthylifestyle.healthylifestyle" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="healthyLifestyle.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealMenuActivity"
            android:label="@string/title_activity_meal_menu" >
        </activity>
        <activity
            android:name=".TargetListActivity"
            android:label="@string/activity_target_list_title"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >

            <!-- TODO investigate how to add the same menu as in ActionBarActivity -->
        </activity>
        <activity
            android:name=".TargetEditActivity"
            android:label="@string/activity_target_add_new_title" >
        </activity>
        <activity
            android:name=".TargetEditListActivty"
            android:label="@string/title_activity_target_edit_list_activty"
            android:parentActivityName=".TargetListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.com.healthylifestyle.healthylifestyle.TargetListActivity" />
        </activity>
    </application>

</manifest>
